//output:index.html
doctype html
html
    head
        meta(charset="UTF-8")
        meta(
            name="viewport"
            content="width=device-width, initial-scale=1.0"
            )
        title Bubba Pallet Works
        link(
            type="text/css"
            rel="stylesheet"
            href="css/mat.css"
            )
        link(
            type="text/css"
            rel="stylesheet"
            href="css/style.css"
            )
        link(
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
            )
        link(
            href="https://fonts.googleapis.com/css?family=Rock+Salt" 
            rel="stylesheet"
            )    
    body
        //-
            navbar
        div.navbar-fixed
            nav.brown.lighten-4
                div.nav-wrapper
                    a(href="#" class="brand-logo" id="resume").black-text Bubba Pallet Works
                    a(href="#" data-activates="mobile-demo" class="button-collapse")
                        i.material-icons menu
                    ul.right.hide-on-med-and-down
                        li
                            a(href="#about").black-text About
                        li
                            a(href="#custom-orders").black-text Custom Orders
                        li
                            a(href="#my-work").black-text My Work
                        li
                            a(href="#contact").black-text Contact
                    ul(class="side-nav" id="mobile-demo")
                        li
                            a(href="#about").black-text About
                        li
                            a(href="#skills").black-text Custom Orders
                        li
                            a(href="#my-work").black-text My Work
                        li
                            a(href="#contact").black-text Contact
            //-
                hero image
        div#hero-img
            img(src="img/logo.jpg")
            


        div.container
            div#custom-orders
              h2.center-align.section Custom Orders
              div.divider
              p this is where we will put stuff.
            
                                        
        div#my-work
        
          div.row                
            div.col.s12.m4
              div.card.normalcards
                div.card-image
                  img(src="img/america.jpg")
                  span.card-title American Flag
                div.card-content $20 
                            
              div.card.normalcards
                div.card-image
                  img(src="img/chair.jpg")
                  span.card-title Porch Chairs and End Tables
                div.card-content $50
                                
              div.card.normalcards
                div.card-image
                  img(src="img/cokesign.jpg")
                  span.card-title Coca-Cola
                div.card-content $20                              
            
              div.card.normalcards
                div.card-image
                  img(src="img/feather.jpg")
                  span.card-title Feather Art
                div.card-content $75
                                                 
            div.col.s12.m2
              div.card.smallcards
                div.card-image
                  img(src="img/hanger.jpg")
                  span.card-title Coat Hanger
                div.card-content $20
                
              div.card.smallcards
                div.card-image
                  img(src="img/hangerwelcome.jpg")
                  span.card-title Lantern Holder
                div.card-content $60                
            
              div.card.smallcards
                div.card-image
                  img(src="img/lantern.jpg")
                  span.card-title Wall Hanger I
                div.card-content $15                      
            
              div.card.smallcards
                div.card-image
                  img(src="img/lanterncover.jpg")
                  span.card-title Wall Hanger II
                div.card-content $20  

              div.card.smallcards
                div.card-image
                  img(src="img/smith.jpg")
                  span.card-title Smith & Wesson
                div.card-content $20
                
              div.card.smallcards
                div.card-image
                  img(src="img/donttread.jpg")
                  span.card-title Dont Tread On Me
                div.card-content $20
                                        
            div.col.s12.m6
              div.card.largecards
                div.card-image
                  img(src="img/plantholder.jpg")
                  span.card-title Planter
                div.card-content $35
                                      
              div.card.largecards
                div.card-image
                  img(src="img/skull.jpg")
                  span.card-title Wall Art
                div.card-content $65            
            
              div.card.largecards
                div.card-image
                  img(src="img/welcome.jpg")
                  span.card-title Welcome Hanger
                div.card-content $35   
                
          br      
          
          div.tileblocks
            div.wrapper
              img(src="img/america.jpg")
              span.text-content 
                span American Flag
            div.wrapper
              img(src="img/chair.jpg")
              span.text-content 
                span Porch Chairs and End Tables
                
            div.wrapper
              img(src="img/cokesign.jpg")
              span.text-content 
                span Coca-Cola
                
            div.wrapper
              img(src="img/donttread.jpg")
              span.text-content 
                span Dont Tread On Me
                
            div.wrapper
              img(src="img/feather.jpg")
              span.text-content 
                span Feather Art
                
            div.wrapper
              img(src="img/hanger.jpg")
              span.text-content 
                span Coat Hanger
                
            div.wrapper
              img(src="img/hangerwelcome.jpg")
              span.text-content 
                span Lantern Hanger
                
            div.wrapper
              img(src="img/lantern.jpg")
              span.text-content 
                span Wall Hanger I
                
            div.wrapper
              img(src="img/lanterncover.jpg")
              span.text-content 
                span Wall Hanger II
                
            div.wrapper
              img(src="img/plantholder.jpg")
              span.text-content 
                span Planter
                
            div.wrapper
              img(src="img/skull.jpg")
              span.text-content 
                span Wall Art
                
            div.wrapper
              img(src="img/smith.jpg")
              span.text-content 
                span Smith & Wesson
                
            div.wrapper
              img(src="img/welcome.jpg")
              span.text-content 
                span Welcome Hanger
        
            br
            img(src="img/donttread.jpg")
            img(src="img/feather.jpg")
            img(src="img/hanger.jpg")
            img(src="img/hangerwelcome.jpg")
            img(src="img/lantern.jpg")
            img(src="img/lanterncover.jpg")
            img(src="img/plantholder.jpg")
            img(src="img/skull.jpg")
            img(src="img/smith.jpg")
            img(src="img/welcome.jpg")
            
        div.container
          div#about
            h2.hide-on-small-only.center-align.section About Me
            h3.hide-on-med-and-up.center-align.section About Me
            div.divider

            div
            div.section.center-align.row
              div.col.s12.m3.grey.lighten-2.about-text
                p 
                  |Morty, can you get to the left nipple? Cause he roped me into this! Morty! The 
                  | principal and I have discussed it, a-a-and we're both insecure enough to agree to a three-way! Don't be trippin dog we got you.
                p
                  |I'll tell you how I feel about school, Jerry. It's a waste of time. Bunch of people runnin' around bumpin' into each other, got a 
                  | guy up front says, '2 + 2,' and the people in the back say, '4.' Then the bell rings and they give you a carton of milk and a piece 
                  | of paper that says you can go take a dump or somethin'. I mean, it's not a place for smart people, Jerry. I know that's not a popular 
                  |opinion, but that's my two cents on the issue. "Quantum carburetor"? Jesus, Morty. You can't just add a Sci-Fi word to a car word and 
                  | hope it means something… Huh, looks like something's wrong with the microverse battery. We're gonna have to go inside. There is no god, 
                  | Summer; gotta rip that band-aid off now you'll thank me later. Rick, I don't like glowing rocks in the kitchen trash!
              div.col.s12.m6
                img(src="img/profile.jpg")#profile
              div.col.s12.m3.grey.lighten-4.about-text
                p
                  | My man! Dont look at me! That guy over there roped me into this. Did you just come into the cafeteria through a portal? Yeah, sure, I 
                  |mean, if you spend all day shuffling words around, you can make anything sound bad.
                p
                  |You're young, you have your whole life ahead of you, and your anal cavity is still taut yet malleable. I'm Mr. Crowbar, and here is my 
                  |friend, who is also a crowbar! Meeseeks don't usually have to exist for this long. It's gettin' weeeiiird. I'll be with Reuben in my 
                  |workshop while you guys are having another day in Phil Collin's proverbial paradise.

        footer#contact.page-footer.brown.lighten-2
            div.container
                div.row
                    div.col.l6.s12
                        h5.white-text Here's how you can reach me.
                        p.grey-text.text-lighten-2 
                        p.grey-text.text-lighten-2 If you are wanting to hire me, please send me an email and we can start a dialoge.
                    div.col.l4.offset-12.s12
                        h5.white-text Contact 
                        ul
                            li.btn-pad
                                a(href="mailto:bubbapalletworks@gmail.com").btn.grey.darken-4 Email
                                    i.material-icons.right email
                            li.btn-pad
                                a(href="https://www.facebook.com/toddbeasley81/?ref=page_internal").btn.grey.darken-4 Facebook
                                    i.material-icons.right
                                      img(src="img/facebook-box.png")                               
            div.footer-copyright
                div.container.center-align © 2016 Matthew Robertson

        script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(type="text/javascript" src="js/materialize.min.js")
        script(src="js/index.js")

    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
